{% extends 'base.html' %}
{% block title %} Campaign Sheet {% endblock %}
{% block content %}
    <div class="placeholder-container">
        <div class="charsheet-wrapper">
            <p>Name: {{protocamp.name}}</p>
            <p>Info: {{protocamp.info}}</p>
        </div>
        {% for member in members %}
            <div class="card">
                member
            </div>
        {% endfor %}
        <div>

        </div>
    </div>
    <br>
    <div class="button-wrapper">
        <button class='profile-button'>
            <a href='{% url 'member_search' protocamp.pk %}'>
                Find Members
            </a>
        </button>
        <button class='profile-button'>
            <a href='{% url 'camp_edit' protocamp.pk %}'>
                Edit
            </a>
        
        <button class='profile-button'>
            <a href='{% url 'camp_delete' protocamp.pk %}'>
                Delete
            </a>
        </button>
    </div>
{% endblock %}