body {
    background-color: #1e122fba;
    color: #ffffff;
    min-height: 100vh;
    /* background-image: url(https://images.squarespace-cdn.com/content/v1/631c6296dbdc564c321c3e99/1662804657404-159D2297V91P7KBWA8MZ/white+gemoetric.png);
    background-size: 25vmin;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 18%; */
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}

p {
    font-size: 12px;
}


.login-wrapper {
    background-color: rgba(21, 7, 21, .3);
    border-radius: 4px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    padding: 7px;
}

.placeholder-container {
    position: 40vh;
    height: 40vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/631c6296dbdc564c321c3e99/1662804657404-159D2297V91P7KBWA8MZ/white+gemoetric.png);
    background-size: 25vmin;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.profile-container {
    /* border: solid green; */
    height: 60%;
    width: 100vw;
    position: fixed;
    bottom: 0
}

.charsheet-wrapper {
    background-color: rgba(21, 7, 21, .3);
    margin: 10px 10px 0px 10px;
    padding: 10px;
    border-radius: 5px;
    max-height: 40vh;
    overflow-wrap: normal;

}

.skill-block {
    position: absolute;
    top: 8%;
    right: 3%;
    font-size: small;

} td {
    padding: 3px;
    
}


.char-wrapper {
    float: left;
    padding: 5px;
    /* border: solid blue; */
    width: 40vw;
    height: 45vh;
    overflow-y: scroll;
    background-color: rgba(21, 7, 21, .3);
    border-radius: 5px;
    margin: 5px;
}

.camp-wrapper {
    padding: 5px;
    float: right;
    /* border: solid blue; */
    width: 40vw;
    height: 45vh;
    overflow-y: scroll;
    background-color: rgba(21, 7, 21, .3);
    border-radius: 5px;
    margin: 5px;
    
}

.button-wrapper {
    padding: 5px;
    /* justify-self: start; */
 
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* border: solid greenyellow; */
    
}

.card {
    max-width: 40vw;
    text-overflow: ellipsis;
    margin: 5px 5px;
} 

h4 {
    text-align: center;
}

.button {
    height: 40px;
    width: 40px;
    margin: 2px 0px;
    font-weight: 600;
    justify-items: center;
}

.profile-button {
    height: 40px;
    width: 70px;
    margin: 0px 0px 2px;
    font-weight: 500;
    font-size: small;
    text-align: center;
    
}

.charsheet-button {
    height: 30px;
    width: 70px;
    
}

.login-button {
    height: 40px;
    width: 70px;
    margin: 2px 0px;
    font-weight: 600;
}

.signup-button {
    height: 40px;
    width: 70px;
    margin: 2px 0px 0px;
    font-weight: 600;
}

.edit-button {
    height: 40px;
    width: 75px;
    margin: 2px 0px;
    font-weight: 600;
}

.delete-button {
    height: 40px;
    width: 70px;
    margin: 2px 0px;
    font-weight: 600;
}

.anchor-bar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
