{% extends 'base.html' %}
{% block title %}
    Character Sheets Title Placeholder
{% endblock %}
{% block content %}
    <h1> Character Sheets </h1>
    <div class="list-wrapper">
        {% for charsheet in charsheets %}
        <div class="charsheet">
            Hi
            Name : {{charsheet.name}}
            Class : {{charsheet.class_1}}
            Level : {{charsheet.level}}
            Owner : {{charsheet.usercode}}
            </div>
        {% endfor %}
    </div>       
{% endblock %}