{% extends 'base.html' %}
{% block title %} Character Sheet {% endblock %}
{% block content %}
    <div class="char-wrapper">
        <p>Name: {{protochar.name}}</p>
        <p>Bio: {{protochar.bio}}</p>

        {% if protochar.protosheet %}

        <p>Race: {{protochar.protosheet.race}}</p>
        <p>Class: {{protochar.protosheet.base_class}}</p>
        <br>
        <div class="stat-block">
            <p>STR: {{protochar.protosheet.str_stat}}</p>
            <p>DEX: {{protochar.protosheet.dex_stat}}</p>
            <p>CON: {{protochar.protosheet.con_stat}}</p>
            <p>WIS: {{protochar.protosheet.int_stat}}</p>
            <p>WIS: {{protochar.protosheet.wis_stat}}</p>
            <p>CHA: {{protochar.protosheet.cha_stat}}</p>
        </div>
        <button class="charsheet-button">
            <a href='{% url 'sheet_edit' protochar.protosheet.pk %}'>Edit Sheet</a>
        </button>
        <button class="charsheet-button">
            <a href='{% url 'sheet_delete' protochar.protosheet.pk %}'>Delete Sheet</a>
        </button>
        {% else %}
        <button class="charsheet-button">
            <a href='{% url 'sheet_gen' protochar.pk %}'>Make Sheet</a>
        </button>
        {% endif %}
    </div>
    <br>
    <div class="button-wrapper">
        <button class='edit-button'>
            <a href='{% url 'char_edit' protochar.pk %}'>
                Edit
            </a>
        </button>
        <button class='delete-button'>
            <a href='{% url 'char_delete' protochar.pk %}'>
                Delete
            </a>
        </button>
    </div>
{% endblock %}