{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <br>
    <div class="login-wrapper">
        <button class="profile-button">
            <a href="/profile/" class="profile-link">Profile</a>
        </button>
        <br>
        <button class='login-button'>
            <a href='/accounts/login/'>
                Login
            </a>
        </button>
        <br>
        <button class='signup-button'>
            <a href='/accounts/signup/'>
                Signup 
            </a>
        </button>
    </div>
{% endblock %}