{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="home-icon-wrapper">
        Put something cool here lol
    </div>
    <br>
    <div class="profile-button">
        <a href="/profile/" class="profile-link">Profile</a>
    </div>
    <div class="login-wrapper">
        <div class='login-form'>
            <a href='/accounts/login/'>
                Login
            </a>
        </div>
        <div class='signup-button'>
            <a href='/accounts/signup/'>
                Signup 
            </a>
        </div>
    </div>

    <div class='camp-wrapper'></div>
{% endblock %}