{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="placeholder-container">

{% if user.is_authenticated %}




    

</div>

Hi {{ user.username }}!
    <div class="login-wrapper">
        
        <button class="profile-button">
            <a href="/profile/" class="profile-link">Profile</a>
        </button>
        <br>
        <button class='signup-button'>
            <a href='{% url 'logout' %}'>
                Logout
            </a>
        </button>
    </div>

    {% else %}
  
    </div>
    
    <div class="login-wrapper">
        <p>You are not logged in</p>
        <button class='login-button'>
            <a href='{% url 'login' %}'>
                Login
            </a>
        </button>
        <br>
        <button class='signup-button'>
            <a href='/accounts/signup/'>
                Signup 
            </a>
        </button>
    </div>
{% endif %}

{% endblock %}