{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}
    <div class="placeholder-container">

    </div>
    <div class="profile-container">
        <div class="char-wrapper">
            <h4>Characters</h4>
            {% for char in chars %}
            <a href='{% url 'char_sheet' char.pk %}'>
                <div class="card">
                    Name: {{ char.name }}
                    Bio: {{ char.bio }}
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="camp-wrapper">
            <h4>Campaigns</h4>
            {% for camp in camps %}
            <a href='{% url 'camp_detail' camp.pk %}'>
                <div class="card">
                    Name: {{ camp.name }}
                    Info: {{ camp.info }}
                </div>
            </a>
            {% endfor %}
        </div>

        
        
    </div>
    <div class="button-wrapper">
        <h4>Create</h4>
        <button class='button'>
            <a href='{% url 'char_gen' %}'>
                Character
            </a>
        </button>
        <button class='button'>
            <a href='{% url 'camp_gen' %}'>
                Campaign
            </a>
        </button>
    </div>
    {% endblock %}